img.logo {
    height: 50px;
    width:auto
}
img.big-logo {
    height: 70px;
    width:auto
}
.ssc-btn-outline-accent {
    border-color: #ff6cab; 
    color: #ff6cab
}
.ssc-btn-outline-accent:hover {
    border-color: #ff6cab; 
    color: #ff6cab
}
.ssc-btn-outline-success{
    border-color: #49d262; 
    color: #49d262
}
.ssc-btn-outline-success:hover {
    border-color: #49d262; 
    color: #49d262
}

.ssc-btn-primary-success {
    background-color: #1a141e
}
.ssc-btn-primary-success:hover {
    background-color: #203624
}

.ssc-btn-accent{
    background-color: #ff6cab;
    color: white;
}
.ssc-btn-accent:hover{
    background-color: #fe83b9;
    color: white;
}
.ssc-btn-secondary{
    background-color: #3a383a;
}
.ssc-btn-secondary:hover{
    background-color: #4e4d4e;
}
.ssc-btn-primary{
    background-color: #251e29;
}
.ssc-btn-primary:hover{
    background-color: #3b3241;
}

.ssc-bg-primary {
    background-color: #251e29
}
.ssc-bg-secondary {
    background-color: #1a141e
}
.ssc-bg-secondary-tr{
    background-color: #1a141e9d;
}


h1, h2, h3, h4 ul {
    font-family: 'Zen Dots';
}

body {
    font-family: 'Zen Dots';
    background-color: #1a141e;
}


p,  h5, h6, a, span {
    font-family: 'Fira Sans Extra Condensed';
}

.font-fira{
    font-family: 'Fira Sans Extra Condensed';
}
.font-zen-dots{
    font-family: 'Zen Dots';
}
.rounded-image {
    border-radius: 10px; 
}
.flag-icon {
    height: 20px;
    width: auto;
    border-radius: 5px;
}

.overlay {
    background: url('assets/overlay.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.color-divider {
    height: 6px;
    background-image: linear-gradient(to right, #49d262, #d9ff00, #ff6cab);
    border: none;
}

.vertical-line {
    border-left: 1px solid #3a383a;
    height: 40px; 
}
.ssc-border-right {
    border-right: 1px solid #3a383a;
}
.ssc-border-left {
    border-left: 1px solid #3a383a;
}
.ssc-border-bottom{
    border-bottom: 1px solid #3a383a;
}

.rounded-circle-img-sm {
    border-radius: 50%;
    overflow: hidden;
    width: 50px; 
    height: 50px; 
    margin: 0 auto; 
}
.rounded-circle-img-lg {
    border-radius: 50%;
    overflow: hidden;
    width: 120px; 
    height: 120px; 
    margin: 0 auto; 
}
.profile-banner-overlay {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: left;
    color: white;
}
.profile-banner-icon {
    position: absolute;
    top: 12%;
    left: 1%;
    text-align: left;
    color: white;
}

.image-text-container {
    display: flex;
    align-items: left;
    margin-left: -11px;
}

.cam-icon
{
    margin-top: -34px;
}