img.logo {
    height: 44px;
    width:auto
}
img.big-logo {
    height: 70px;
    width:auto
}
img.logo-xxl {
    height: 150px;
    width:auto;
}
.ssc-btn-outline-accent {
    border-color: #ff6cab; 
    color: #ff6cab
}
.ssc-btn-outline-accent:hover {
    border-color: #ff6cab; 
    color: #ff6cab
}
.ssc-btn-outline-success{
    border-color: #49d262; 
    color: #49d262
}
.ssc-btn-outline-success:hover {
    border-color: #49d262; 
    color: #49d262
}

.ssc-btn-primary-success {
    background-color: #1a141e
}
.ssc-btn-primary-success:hover {
    background-color: #203624
}

.ssc-btn-accent{
    background-color: #ff6cab;
    color: white;
}
.ssc-btn-accent:hover{
    background-color: #fe83b9;
    color: white;
}
.ssc-btn-secondary{
    background-color: #3a383a;
}
.ssc-btn-secondary:hover{
    background-color: #4e4d4e;
}
.ssc-btn-primary{
    background-color: #251e29;
}
.ssc-btn-primary:hover{
    background-color: #3b3241;
}

.ssc-bg-primary {
    background-color: #251e29
}
.ssc-bg-secondary {
    background-color: #1a141e
}
.ssc-bg-secondary-tr{
    background-color: #1a141eba;
}

@font-face { font-family: Play; src: url('assets/fonts/Play-Regular.ttf'); } 
@font-face { font-family: Play; font-weight: bold; src: url('assets/fonts/Play-Bold.ttf');}
body {
    font-family: Play, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #1a141e;
}
.font-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight:bold;
}

.font-xsm{
    font-size:12px;
}
.font-sm{
    font-size: 14px;
}
.font-md{
    font-size: 16px;
}
.font-lg {
    font-size: 20px;
}
.font-huge {
    font-size: 46px;
}

.font-heading {
    font-family: Play, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.font-subheading {
    font-family: Play, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.font-special {
    font-family: Play, sans-serif;
    letter-spacing: 0.02em;
    line-height: 20px;
}


.rounded-image {
    border-radius: 10px; 
}
.flag-icon {
    height: 20px;
    width: auto;
    border-radius: 5px;
}

.overlay {
    background: url('assets/overlay.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.color-divider {
    height: 6px;
    background-image: linear-gradient(to right, #2ff353, #d9ff00, #ff0000);
    border: none;
}
.common-divider {
    height: 1px;
    background-color: #ff6cab;
    border: none;
}

.vertical-line {
    border-left: 1px solid #3a383a;
    height: 50px; 
}
.ssc-border-right {
    border-right: 1px solid #3a383a;
}
.ssc-border-left {
    border-left: 1px solid #3a383a;
}
.ssc-border-bottom{
    border-bottom: 1px solid #3a383a;
}

.rounded-circle-img-sm {
    border-radius: 50%;
    overflow: hidden;
    width: 40px; 
    height: 40px; 
    margin: 0 auto; 
}
.rounded-circle-img-lg {
    border-radius: 50%;
    overflow: hidden;
    width: 120px; 
    height: 120px; 
    margin: 0 auto; 
}
.profile-banner-overlay {
    position: absolute;
    top: 100px;
    left: 40px;
    text-align: left;
    color: white;
}
.profile-banner-icon {
    position: absolute;
    top: 46px;
    left: 12px;
    text-align: left;
    color: white;
}

.image-text-container {
    display: flex;
    align-items: left;
    margin-left: -11px;
}

.cam-icon
{
    margin-top: -34px;
}

.nav-link-profile {
    color: #d5d5d5;
}
.nav-link-profile.active {
    color: #ffffff;
    font-weight: bold;
}
.nav-link-profile:hover {
    color:#d5d5d5
}
.nav-link-account {
    color:#ffffff;
    text-decoration:none;
}
.nav-link-account.active {
    color: #ff6cab;
    text-decoration:overline 2px;
}
.nav-link-account:hover {
    color:#d5d5d5
}

.margin-profile-nav {
    margin-top: -22px;
}
